@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: linear-gradient(to right top, #c8f3ff, #d4f2ff, #e0f1ff, #e9f1fd, #f0f2f9, #eff0f9, #efeef9, #efebf9, #ede3fc, #eddbfe, #eed2ff, #f1c9ff);
  min-height: 100svh;
}